@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

/* just to be sure these are full screen */
html,
body {
    width: 100vw;
    height: 100vh;
}

.invisible {
    visibility: hidden;
}

#canvas {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: block;
}

#game-over-container {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 30%;
    height: 350px;
    width: 500px;
    border: 2px solid black;
    border-radius: 3px;
    padding: 25px;
    background-color: whitesmoke;
    color: black;
    
}

#game-over-container h2 {
    font-size: 4rem; 
    text-align: center;
}

#game-over-container #columns-score {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

#game-over-container #columns-score div > h3 {    
    text-decoration: underline;
    margin-bottom: 10%;
}

#game-over-container #columns-score div > span {
    line-height: 1.5;
}

#game-over-container #columns-score div > img {
    height: 15px;
}

#game-over-container #play-again-btn {
    position: absolute;  
    right: 38%;  
    bottom: 10%;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    background-color: black;
    font-size: 1.2rem;
}

#main-container {    
    position: absolute;
    z-index: 1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#buttons-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#buttons-container > button {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    border: 3px solid black;
    height: 30px;
}

#metrics-container {
    height: 45px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#metrics-container #lives-container {
    height: 31px;
    display: flex;
    align-items: center;
}

#metrics-container #lives-container .hearts-container img {
    height: 24px;
    margin-bottom: 0;
    margin-left: 2px;
}

#metrics-container #yetis-killed-container {
    height: 45px;
    display: flex;
    align-items: center;
}

#metrics-container #yetis-killed-container .count-yetis-killed {
    margin-left: 5px;
    color: black;
}

#metrics-container #yetis-killed-container img {
    height: 30px;
    margin-bottom: 11px;
    margin-left: 5px;
}

#metrics-container #distance-container {
    height: 45px;
    display: flex;
    align-items: center;
}

#metrics-container #distance-container .current-distance {
    margin-left: 5px;
}

#commands-container {
    position: absolute;
    z-index: 2;
    height: 220px;
    width: 450px;
    top: 10%;
    left: 1.4%;
    border: 2px solid black;
    border-radius: 3px;
    padding: 25px;
    background-color: whitesmoke;
} 

#commands-container img {
    height: 120px;
}

#commands-container > button {
    position: absolute;
    width: 80px;
    height: 40px;
    border-radius: 3px;
    border: 3px solid whitesmoke;        
    bottom: 5%;
    left: 40%;
    color: whitesmoke;
    background-color: black;
 }

#choose-level-container{
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 4;
    height: 350px;
    width: 700px;
    padding: 25px;
    border: 3px solid black;
    border-radius: 3px;
    background-color: whitesmoke;
}

#choose-level-container > h2 {
    text-align: center;
}

#choose-level-container .input-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;   
    margin-bottom: 5%;
}

#choose-level-container .level-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

#choose-level-container .level-btn-container div > button {
    margin-top: 10%;
    text-align:center;
    width: 200px;
    height: 100px;
    border: 3px solid black;
    border-radius: 3px;
    background-color: whitesmoke;
}
#choose-level-container .level-btn-container small{
    width: 200px;
    font-size: 0.8rem;
    text-align: center;
}

#choose-level-container #lets-go-btn{
    width: 80px;
    height: 40px;
    border-radius: 3px;
    border: 3px solid whitesmoke;
    position: absolute;
    bottom: 5%;
    left: 45%;
    color: whitesmoke;
    background-color: black;
}

#home-background {
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;    
}

#home-background img {
    position: absolute;
    top: 0%;
    animation-duration: 8s;
    animation-name: zooming;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animation-paused{
    animation-play-state: paused;
}

@keyframes zooming {
    from {
        height: 200px;
    }

    to {
        height: 450px;
    }
}

#buttons-home-container {
    position: absolute;
    z-index: 4;
    top: 80%;
    left: 34%;
}

#buttons-home-container > button {
    width: 150px;
    height: 60px;
    padding: 10px;
    border-radius: 3px;
    border: 4px solid black;
    background-color: whitesmoke;
    color: black;
    font-size: 1.2rem;
    margin-left: 40px;
}

#instructions-container {
    position: absolute;
    z-index: 4;
    height: 100vh;
    width: 100vw;
    display: flex;    
    justify-content: center;
    align-items: center;
}

#instructions {    
    position: relative;
    height: 580px;
    width: 700px;
    padding: 25px;
    border: 3px solid black;
    border-radius: 3px;    
    background-color: whitesmoke;    
}

#instructions h2 {
    text-align: center;
    font-size: 1.5rem;
}

#instructions ul {
    margin-left: 80px;
    line-height: 2;
}

#instructions img {
    height: 160px;
    margin-left: 9%;
}

#instructions #close-instructions-btn {
    width: 80px;
    height: 40px;
    border-radius: 3px;
    border: 3px solid whitesmoke;
    position: absolute;
    bottom: 5%;
    left: 45%;
    color: whitesmoke;
    background-color: black;
}