* {
    margin: 0;
    padding: 0;
}

/* just to be sure these are full screen */
html,
body {
    width: 100vw;
    height: 100vh;
}

#canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: white;    
}